:root {
  --main-font: "Hachi Maru Pop", cursive;
}
* {
  font-family: var(--main-font);
  text-align: center;
}
.todo-text {
  display: inline-block;
  padding: 2%;
}
.todo-priority {
  display: inline;
  margin: 1%;
}
.todo-created-at {
  display: inline;
}
#sort-button {
  position: relative;
}
#add-form {
  display: inline;
}
