:root {
  --main-font: "Hachi Maru Pop", cursive;
}
* {
  font-family: var(--main-font);
  text-align: center;
}
.buttons {
  cursor: pointer;
}
.todo-container {
  position: relative;
  right: 21%;
  margin-top: 4%;
  float: right;
}
.todo-container.done {
  text-decoration-line: line-through;
}
.todo-text {
  display: inline;
  padding: 1%;
  border-radius: 5%;
}
.todo-priority {
  display: inline;
  font-weight: bold;
  margin: 1%;
}
.todo-created-at {
  display: inline;
  font-size: 70%;
}
.garbage-img {
  position: relative;
  top: 0.3em;
  width: 2.5%;
  margin: auto 1%;
  cursor: pointer;
}
.garbage-img:hover {
  padding: 0.1%;
}
.edit-img {
  position: relative;
  width: 2.5%;
  top: 0.3em;
  margin: auto 1%;
  cursor: pointer;
}
.edit-img:hover {
  padding: 0.1%;
}
.finishEdit {
  position: relative;
  width: 2.5%;
  top: 0.3em;
  margin: auto 1%;
  cursor: pointer;
}
.todo-container.find {
  border: steelblue solid 0.2em;
  font-weight: bold;
  background-color: rgb(255, 255, 155);
}
.check-box {
  cursor: pointer;
}
.loader.run {
  position: relative;
  top: 6em;
  left: 34%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 10em;
  height: 10em;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#undo {
  width: 3%;
  position: relative;
  top: 0.8em;
}
#undo:hover {
  border: blanchedalmond 0.2em solid;
}
#search-section {
  margin-left: 3.8%;
  padding: 1%;
}
#search-button {
}
#view-section {
  position: relative;
  left: 7%;
}
#priority-selector {
  cursor: pointer;
}
#sort-button {
  position: relative;
}
#add-form {
  display: inline;
}
